.train-view {

	.container__train-route {
		height: 46%;
		box-shadow: 0px 6px 9px -4px rgba(0,0,0,0.75);
	}

	.data__label{
		position: relative;

		&:before {
			content: '';
			position: absolute;
			display: inline-block;
			top: 4px;
			right: 110%;
			height: 20px;
			width: 30px;
			vertical-align: middle;
			line-height: 10px;
			background-repeat: no-repeat;
		}

		&--energy:before,
		&--cost:before {
			right: 100%;
		}

		&--energy:before {
			background-image: url('../../gfx/icons/energy.svg');
		}

		&--battery:before {
			background-image: url('../../gfx/icons/battery-half.svg');
		}

		&--battery-charging:before {
			background-image: url('../../gfx/icons/battery-charging.svg');
		}

		&--energy-use:before {
			background-image: url('../../gfx/icons/energy-consumption.svg');
		}

		&--cost:before {
			background-image: url('../../gfx/icons/cost.svg');
		}
	}

	.pie {
		$pie-size: 400px;
		$label-size: 80px;
		$border-size: 10px;
		$pie-rotation: -25deg;

		position: relative;
		width: $pie-size;
		height: $pie-size;
		margin: 30px auto;

		transform: rotate($pie-rotation);

		&__chart {
			position: relative;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			text-align: center;
			transform: rotate(240deg);
			background: #ffcd64;

			&:before {
				content: '';
				position: absolute;
				top: 0; 
				left: 50%;
				width: 50%; 
				height: 100%;
				border-radius: 0 100% 100% 0 / 50%;
				background-color: inherit;
				transform-origin: left;
				transform: rotate(120deg);
			}

			&:after {
				content: '';
				position: absolute;
				top: 50%; 
				left: 50%;
				width: $pie-size - $label-size + $border-size;
				height: $pie-size - $label-size + $border-size;
				border-radius: 50%;
				background: #fff;
				transform: translate(-50%, -50%);
				// z-index: 10;
			}
		}

		&--filling .pie__chart {
			background-image: linear-gradient(to right, transparent 50%, #00cc66 0);
			animation:blink normal 1.5s infinite ease-in-out;
		}

		&__label {
			position: absolute;
			z-index: 1;
			width: $label-size;
			height: $label-size;
			border-radius: 50%;
			background-color: #ffcd64;
			border: 13px solid #fff;
			transition: background 300ms;
			font-family: Pebble;
			color: #990ae3;
			font-size: 34px;
			white-space: nowrap;

			span {
				position: absolute;
				padding: 10px;
			}

			&:nth-child(1) {
				left: 50%;
				bottom: 100%;
				transform: translate(-50%, 75%);

				span {
					left: -60%;
					bottom: 120%;
					transform: translateX(-50%) rotate($pie-rotation * -1);
				}
			}

			&:nth-child(2) {
				top: 75%;
				right: 100%;
				transform: translate(100%, -50%);

				span {
					top: 35%;
					right: 120%;
					transform: translateY(-50%) rotate($pie-rotation * -1);
					text-align: right;
				}
			}

			&:nth-child(3) {
				top: 75%;
				left: 100%;
				transform: translate(-100%, -50%);

				span {
					top: 180%;
					left: 100%;
					transform: translateY(-50%) rotate($pie-rotation * -1);
				}
			}
		}
	
		&--step-3.pie--filling,
		&--step-1 {
			.pie__chart {
				transform: rotate(0);
			}
			.pie__label:nth-child(3) {
				background-color: #ffcd64;
			}
			.pie__label:nth-child(1) {
				background-color: #00cc66;
			}
		}

		&--step-1.pie--filling,
		&--step-2 {
			.pie__chart {
				transform: rotate(240deg);
			}
			.pie__label:nth-child(1) {
				background-color: #ffcd64;
			}
			.pie__label:nth-child(2) {
				background-color: #00cc66;
			}
		}

		&--step-2.pie--filling,
		&--step-3 {
			.pie__chart {
				transform: rotate(120deg);
			}
			.pie__label:nth-child(2) {
				background-color: #ffcd64;
			}
			.pie__label:nth-child(3) {
				background-color: #00cc66;
			}
		}

		&__data {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate($pie-rotation * -1);
			// z-index: 30;
		}

		&__alert {
			position: relative;
			top: 30px;
			color: #ff6464;

			&:before {	
				position: absolute;
				left: 50%;
				bottom: 50%;
				transform: translateX(-50%);
				font: Pebble;
				font-size: 4em;
			}

			&--connection:before {
				content: '!';
			}

			&--obstacle:before {
				content: '';
				width: 100px;
				height: 100px;
				bottom: 0;
				background: url('../../gfx/icons/obstacle.svg') no-repeat;
			}
		}

		&__title {
			text-align: center;
		}

		&__value {
			font-size: 1.4em;
		}
	}

	@keyframes blink {
		from {
			background-image: none;
		}
	}
}