/socket-terminal/.idea
/socket-terminal/.gradle
/socket-terminal/build
/etherio/.gradle
/etherio/.idea
/etherio/build
/experiments/etherio-test/.gradle
/experiments/etherio-test/.idea
/experiments/etherio-test/build
~$*
.pioenvs
/dashboard/elm-stuff
/dashboard/node_modules
/dashboard/dist
/experiments/WebSockets/node_modules
/experiments/NodeTrainConductor/node_modules
/experiments/text-to-speech/.idea
/experiments/text-to-speech/.gradle
/experiments/text-to-speech/build
