/socket-terminal/.idea
/socket-terminal/.gradle
/socket-terminal/build
/etherio/.gradle
/etherio/.idea
/etherio/build
/etherio-test/.gradle
/etherio-test/.idea
/etherio-test/build
~$*
.pioenvs
/dashboard/elm-stuff
/dashboard/node_modules
