@import "~normalize.css";
@import "./variables.scss";


@font-face {
	font-family: Pebble;
	src: url("./fonts/Pebble_W_Rg.ttf");
	font-weight: regular;
}
* {
	box-sizing: border-box;
}

html {
	background: #fff;
	font-size: 10px;
}
body {
	margin: 0;
	font: 1.8rem/1.4 "HelveticaNeueLTPro-Roman", Arial, Helvetica, sans-serif;
	color: #111;
}
h1,
.h1 {
	font-family: Pebble, Arial, Helvetica, sans-serif;
	font-size: 3.4rem;
	text-transform: uppercase;
}
h2,
.h2 {
	font-size: 1.9rem;
	font-weight: normal;
}

.header {
	margin-left: 50px;
	margin-bottom: 20px;
	&__title {
		color: $brand-color;
		font-size: 60px;
		text-align: center;
	}
}

.container {
	width: 50%;
}

.chart-container {
	margin-left: 40px;
	margin-right: -10px;
	display: flex;
}


.data {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	margin-bottom: 20px;

	&__title {
		margin: 0;
		text-align: center;
		font-weight: bold;
		font-size: 28px;
	}

	&__chart {
		position: relative;
		margin: 0 10px;
		height: 240px;
		border: 1px solid #ccc;
		border-radius: 3px;

		&__graph {
			position: absolute;
			width: 100%;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 10;
			overflow: hidden;
		}
		&__content {
			position: relative;
			width: 100%;
			z-index: 20;
			margin-bottom: 8px;
			line-height: normal;
		}
	}

	&__value {
		margin: 0;
		font-weight: bold;
		font-size: 50px;
		text-align: center;
		color: $brand-color-alt;
		line-height: normal;
	}
	&__measure {
		display: inline-block;
		margin-left: 5px;
		font-size: 23px;
		color: #111;
		font-weight: normal;
	}

	.data__warning {
		color: #f00;
	}

	.data__chart__icon {
		display: block;
		width: 50px;
		height: 100%;
		position: absolute;
		top: 77px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 30;

		&--charging {
			background: url("./icons/charging.svg") no-repeat;
			opacity: 0.9;
		}

		&--not-charging {
			opacity: 0.3;
			background: url("./icons/not-charging.svg") no-repeat;
		}
	}
}
