@import "~normalize.css";

@font-face {
	font-family: Pebble;
	src: url("./fonts/Pebble_W_Rg.ttf");
	font-weight: regular;
}

* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font: 1.8rem/1.4 "HelveticaNeueLTPro-Roman", Arial, Helvetica, sans-serif;
	color: #000;
	background: #efefef;
	margin: 0 auto;
}

h1, 
.h1 {
	font-family: Pebble, Arial, Helvetica, sans-serif;
	font-size: 3.4rem;
	text-transform: uppercase;
}

h2,
.h2 {
	font-size: 1.9rem;
	font-weight: normal;
}

.header {
	display: flex;
	align-items: center;
	height: 12%;
	padding-left: 40px;
	margin-bottom: 40px;
	background: #000 no-repeat 50%;
	background-size: cover;

	&--weather {	
		background-image: url('./backgrounds/bg-weather.png');
	}

	&--street {
		background-image: url('./backgrounds/bg-street.png');
	}

	&--solar {
		background-image: url('./backgrounds/bg-solar.png');
	}

	&--truck {
		background-image: url('./backgrounds/bg-truck.png');
	}

	&--parking {
		background-image: url('./backgrounds/bg-parking.png');
		margin-bottom: 0;
	}

	&--train {
		background-image: url('./backgrounds/bg-train.png');
	}

	&__icon {
		flex-grow: 0;
		height: 40px;
		padding-right: 40px; 
	}

	&__title {
		flex-grow: 2;
		color:#fff;
	}
}

.content {
	display: flex;
	justify-content: space-between;
	height: 38%;
	padding: 0 40px;
}

.data {
	// position: relative;
	width: 14.58%;
	display: flex;
	flex-direction: column;

	&__title {
		margin-bottom: 25px;
		margin-top: 0;
		// font-size: 1em;
		white-space: nowrap;
	}

	&__chart {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
		height: 180px;
		box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);

		&--large {
			height: 71.42%;
			position: relative;

			
		}

		&--train {
			width: 420px;
			height: 300px;
			margin: 40px auto;
		}
	}

	&__value {
		font-family: Pebble;
		font-size: 28px;
		margin-bottom: 0;
	}

	&__measure {
		font-size: 16px;
		margin-top: 0;
	}

	&--large {
		justify-content: flex-start;
		min-width: 43.75%;

		&:first-child{
			margin-right: 40px;
		}
	}

	&__message {
		position: relative;

		&:before {
			position: absolute;
			top: 4px;
			right: 110%;
			height: 1em;
			width: 1em;
			background-repeat: no-repeat;
			content: '';
			display: inline-block;
			vertical-align: middle;
			line-height: 10px;
		}
	}
}