.parking-view {
	width: 1920px;
	height: 1080px;
	overflow: hidden;
	$brand-color: #990ae3;

	// .content__parking-data {
	// 	display: flex;
	// 	justify-content: center;
	// 	height: 24%;
	// 	padding: 20px 80px;
	// 	background-color: #f2f2f2;
	// 	box-shadow: 0px 6px 9px -4px rgba(0,0,0,0.75);
	// }

	.parking {
		display: flex;
		flex-direction: column;

		&__title {
			display:flex;
			justify-content: space-between;
			margin-left: 50px;
			width: 900px;
			padding: 15px 0;
			background: $brand-color;
			&-text {
				width: 300px;
				margin: 0;
				color: #fff;
				text-align: center;
			}
		}

		&__data {
			display: flex;
			width: 900px;
			margin-left: 50px;
			color: #000;
			text-align: center;
			font-size: 30px;
			 p {
				 margin: 0;
			 }
			&__availability {
				width: 300px;
				padding-left: 10px;
				padding-top: 10px;
				padding-bottom: 35px;
				height: 120px;
				display: flex;
				align-items: flex-end;
				justify-content: center;
				line-height: normal;
				&--free {
					font-size: 60px;
					color: #999;
				}
				&--occupied {
					font-size: 30px;
				}
				&--occupied strong {
					font-size: 60px;
				}
			}
		}


		.parking__area {
			display: flex;
			justify-content: center;
			width: 900px;
			margin-left: 50px;
			color: #eee;
			text-align: center;
			font-size: 300px;
			&__slot {
				position: relative;
				width: 300px;
				height: 560px;
				padding: 50px 0;
				border-left: 3px solid $brand-color;
				display: flex;
				flex-direction: column;
				justify-content: center;
				&:last-child {
					border-right: 3px solid $brand-color;
				}
			}
			&__nr {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 1;
			}
		}
		.parking__car {
			background: no-repeat center;
			background-size: contain;
			height: 100%;
			width: 290px;
			transition: transform 1s;
			will-change: transform;
			background-color: #fff;
			z-index: 10;
			&--leaving,
			&:hover {
				transform: translateY(90%);
			}
			&--cart {
				background-image: url('../../gfx/cars/YELLOW_ROADSTER.png');
			}
			&--f1 {
				background-image: url('../../gfx/cars/F1.png');
			}
		}

	}
	.car-type {
		width: 300px;
		margin-top: -30px;
		padding: 0 20px;
	}
}