<configuration>
	<appender name="STDOUT"  class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%highlight(%-5level) | %d{HH:mm:ss} | %-30logger{10} | %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>debug.log.txt</file>
		<append>false</append>
		<immediateFlush>true</immediateFlush>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%-5level | %-20thread | %-8relative | %date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX"} | %-40logger{20} | %30file:%-4line | %msg%n</pattern>
		</encoder>
	</appender>

  <logger name="com.stagnationlab" level="DEBUG"/>
  <!--logger name="com.stagnationlab.c8y.driver.Gateway" level="INFO"/-->
  <!--logger name="com.stagnationlab.c8y.driver.controllers.TrainController" level="DEBUG"/-->
  <!--logger name="com.stagnationlab.c8y.driver.controllers.LightingController" level="DEBUG"/-->
  <!--logger name="com.stagnationlab.c8y.driver.controllers.ParkingController" level="DEBUG"/-->
  <!--logger name="com.stagnationlab.c8y.driver.services.TextToSpeech" level="TRACE"/-->
  <!--logger name="com.stagnationlab.etherio" level="TRACE"/-->
  <!--logger name="com.stagnationlab.c8y.driver.controllers.LightingController" level="DEBUG"/-->
  <!--logger name="c8y.lx.agent" level="DEBUG"/-->
  <!--logger name="org.svenson" level="DEBUG"/-->

	<root level="WARN">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>
