.truck-view {
	.header {
		margin-bottom: 10px;
		text-align: center;
		&__title {
			font-size: 50px;
		}
	}
	.data__warning {
		color: #f00;
	}
	.data__label {

		&--alert {
			color: #ff6464;
		}

		&--energy:before,
		&--cost:before {
			right: 100%;
		}

		&--battery:before {
			background-image: url('../../gfx/icons/battery-half.svg');
		}

		&--battery-charging:before {
			background-image: url('../../gfx/icons/battery-charging.svg');
		}

		&--energy:before {
			background-image: url('../../gfx/icons/energy.svg');
		}

		&--cost:before {
			background-image: url('../../gfx/icons/cost.svg');
			height: 17px;
		}

		&--overall {
			position: absolute;
			bottom: 85%;
			left: 10%;
			font-size: .8em;

			&:before {
				right: 100%;
				height: .8em;
				background-image: url('../../gfx/icons/energy-consumption.svg');
			}
		}
	}
}