.weather-view {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
  .header {
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
    &__title {
      font-size: 50px;
    }
  }
} 
