.weather-view {
	display: flex;
	flex-direction: column;
	width: 50vw;
	height: 100vh;
	background: #fff;
	min-width: 400px;
} 

.data {
	width: 14.58%;
	display: flex;
	flex-direction: column;

	&__title {
		margin-bottom: 25px;
		font-size: .8em;
		white-space: nowrap;
	}

	&__chart {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 180px;
		box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);

		&--large {
			height: 71.42%;
			min-height: 200px;
		}
	}

	&__value {
		font-family: Pebble;
		font-size: 28px;
		margin-bottom: 0;
	}

	&__measure {
		font-size: 16px;
		margin-top: 0;
	}

	&--large {
		min-width: 43.75%;
		width: 420px;
		margin-top: 40px;
		// height: 300px;
		// min-width: 43.75%;

		&:first-child{
			margin-right: 40px;
		}
	}
}
